.NavBar{
    width: 100%;
    max-width: 270px;
    background-color: #DFDDE2;

    display: flex;
    flex-direction: column;
    align-items: center;    
}

.InnerCont{
    margin-top: 1rem;
    width: 85%;
    color: #3a3737;
}

.InnerCont div{
    padding: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.DashboardBtn, .ProductsBtn, .TransactionsBtn, .ProductInBtn, .ProductOutBtn {
    margin: 1rem;
}

.MenuIcons{
    font-size: 1.3rem;
    margin: 0.5rem;
}

:is(.DashboardBtn, .ProductsBtn, .TransactionsBtn, .ProductInBtn, .ProductOutBtn ) label:hover{
    color: #E85409;
}
