table { 
	width: 100%; 
	border-collapse: collapse; 
	margin:50px auto;
	}

tr:nth-of-type(odd) { 
	background: #eee; 
	}

th { 
	background: #3114EC; 
	color: white; 
	font-weight: bold; 
	}

td, th { 
	padding: 10px; 
	border: 1px solid #ccc; 
	text-align: left; 
	font-size: 18px;
	}

.DelBtn{
	width: fit-content;
    height: 27px;
	padding: 0.2rem 0.5rem;
	margin: 0 0.5rem;
    outline: none;
    color: #ffffff;
    font-size: 17px;
    font-weight: 700;
    border: none;
    background: #ec141499;
    border-radius: 20px;
    cursor: pointer;

	display: flex;
	justify-content: center;
	align-items: center;
}

.DelBtn:hover{
    background: #e70505;;
}

.DelBtn:active{
    background: #fe2525ee;
}

.Stock_price{
	display: flex;
	justify-content: space-between;
}
	

@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

	table { 
	  	width: 100%; 
	}

	table, thead, tbody, th, td, tr { 
		display: block; 
	}
	
	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	tr { border: 1px solid #ccc; }
	
	td { 
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
	}

	td:before { 
		position: absolute;
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
		content: attr(data-column);

		color: #000;
		font-weight: bold;
	}

}