.TransactionList li{
    margin: 0.5rem;
    padding: 1rem;
    display: flex;
    flex-direction: center;
}

.TransactionList li :is(.DateDay, .InOut){
    padding: 1rem 2rem;
    font-weight: 700;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
}

.TransactionList li .DateDay{
    color: #fff;
    background-color: #663dff;
    background: linear-gradient(109.6deg, rgb(78, 62, 255) 11.2%, rgb(164, 69, 255) 91.1%); 
}

.TransactionList li .InOut{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.InOut .Count{
    font-size: 1.5rem;
    padding: 0 1rem;
}

.InOut .Product_details{
    display: flex;
    flex-direction: column;
}

.InOut .Product_details .lable span{
    padding: 0 0.3rem;
    color: #6e6c6c;
}
