.TransactionList li{
    margin: 0.5rem;
    padding: 1rem;
    display: flex;
    flex-direction: center;
}

.TransactionList li :is(.DateDay, .InOut){
    padding: 1rem 2rem;
    font-weight: 700;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
}

.TransactionList li .DateDay{
    color: #fff;
    background-color: #663dff;
    background-image: linear-gradient(319deg, #663dff 0%, #aa00ff 37%, #cc4499 100%);
}

.TransactionList li .InOut{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.InOut .Count{
    font-size: 1.5rem;
    padding: 0 1rem;
}

.InOut .Product_details{
    display: flex;
    flex-direction: column;
}